.gisto{
    position: relative;
    height: 300px;
    overflow: hidden;
}


.bg__row{
    height: 28px;
    border-bottom: 1px solid #e2e2e2;
}

.bg__cell{
    border-right: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: middle;
    width: 35px;
}

.bg__cell_last{
    vertical-align: top;
    text-align: center;
}

.bg__cell-empty{
    width: 500px;
}

.row-wrap{
    width: 485px;
    bottom: 0;
    margin-left: 35px;
    position: absolute;
    overflow-y: hidden;
    overflow-x: scroll;
}

.stats{
    width: 1000px;
}

.stats__item{
    display:-moz-inline-stack;
    display:inline-block;
    width: 70px;
    vertical-align:bottom;
    margin-left: 20px;
    transition: 1s height, 1s width;
    cursor: pointer;
    box-shadow: 5px 5px 15px -5px;
    background: #ccc;
}

.stats__item:hover{
    width:200px;
    transition: 1s height, 1s width;
    height: 200px !important;
    background: #ccc;
}

.item-month{
    text-align: center;
    padding-top: 5px;
    color:#fff;
    width: 100%;
}

.item-massage{
    padding: 7px;
    color:#fff;
    display: none;
}

.stats__item:hover .item-massage{
    display: block;
}

.stats_theme-green{
    background: #45BE88;
    background: -moz-linear-gradient(left, #56EAA8 0%, #45BE88 100%);
    background: -webkit-linear-gradient(left, #56EAA8 0%, #45BE88 100%);
    background: -o-linear-gradient(left, #56EAA8 0%, #45BE88 100%);
    background: -ms-linear-gradient(left, #56EAA8 0%, #45BE88 100%);
    background: linear-gradient(left, #56EAA8 0%, #45BE88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56EAA8', endColorstr='#45BE88', GradientType=1);
}

.stats_theme-green:hover{
    background: #56EAA8;
    background: -moz-linear-gradient(right, #56EAA8 0%, #45BE88 100%);
    background: -webkit-linear-gradient(right,#56EAA8 0%, #45BE88 100%);
    background: -o-linear-gradient(right, #56EAA8 0%, #45BE88 100%);
    background: -ms-linear-gradient(right, #56EAA8 0%, #45BE88 100%);
    background: linear-gradient(right, #56EAA8 0%, #45BE88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45BE88', endColorstr='#56EAA8', GradientType=1);
}