.company{
    overflow: hidden;
}

.company__list{
    height: 241px;
    overflow-y: auto;
    overflow-x: hidden;
}

.company__error{
    border-top: 1px solid #e2e2e2;
    padding: 3px;
    text-align: center;
    color: #E64F4F;
    height: 17px;
}


.company__list_no-boreder{
    border: 0;
}

.company__add{
    height: 35px;
    border-top: 1px solid #e2e2e2;
}

